body {
	text-align: center;
	font-family: sans-serif;
	color: #444;
}

h1 {
	text-align: left;
}

table.truthTable {
    font-family: helvetica;
    color: #555;
    border-collapse: collapse;
    font-size: 14pt;
    text-align: center;
    min-width: 100%;
}

table.truthTable tr td:last-child,
table.truthTable tr th:last-child {
  border-right: 0;
}

table.truthTable th {
	font-weight: bold;
	padding: 5px 10px 5px 10px;
}

table.truthTable td,
table.truthTable th {
	padding: 5px 10px 5px 10px;
}
table.truthTable td {
	font-weight: 100;
}
table.truthTable td:last-child {
	font-weight: 600;
}

div.truth-table-holder {
	border: 1px solid #f1f1f7;
	background: #fafafa;
	display: inline-block;
}

input#expressionInput {
	border: 1px solid #f1f1f7;
	font-family: monospace;
	font-size: 20px;
	margin: 20px 0 0 0;
}

span.syntax-error {
	color: #ff8080;
	font-weight: bold;
	font-family: monospace;
	font-size: 20pt;
}

span.syntax-okay {
	color: #202020;
	font-family: monospace;
	font-size: 20pt;
}

main {
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	min-width: 800px;
}

main > * {
	min-width: 70%;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div.truth-table-holder, input#expressionInput {
	width: 100%;
}

div#footer {
	margin-top: 1em;
}

div#footer > a {
	margin-right: 1em;
}

details.overview {
    text-align: left;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

table.connectives-help {
	display: inline-block;
	text-align: center;
	font-size: 150%;
	font-family: 'monospace';
	margin: 10px 0 0 0;
}

tt {
	font-family: 'monospace';
}

table.connectives-help td {
	width: 75px;
}

.val-T {
	background-color: #8ff0a4;
}

.val-F {
	background-color: #f2aca5;
}
